<!DOCTYPE HTML>
<html>
	<head>
		<title>PipER</title>
		<style>
			@font-face {
				font-family: 'WebSymbolsRegular';
				src: url('/fstatic/fonts/websymbols-regular-webfont.eot');
				src: url('/fstatic/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fstatic/fonts/websymbols-regular-webfont.woff') format('woff'), url('/fstatic/fonts/websymbols-regular-webfont.ttf') format('truetype'), url('/fstatic/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
			}
			.logo {
				height: 50px;
				display: block;
				width: 190px;
			}
			body {
				font-family: "segoe ui", verdana, Arial, Helvetica, sans-serif;
				margin: 0 0 0 0;
				font-size: 12px;
			}
			.left {
				float: left;
				left: 50px;
			}
			.right {
				float: right;
			}
			header {
				width: 100%;
				height: 50px;
				background-color: #f80;
			}
			nav {
				display: block;
				width: 40px;
				background-color: #f80;
				left: 0;
				position: absolute;
				top: 50px;
			}
			#map {
				left: 40px;
				position: absolute;
			}
			#fider-logo {
				font-size: 3.2em;
			}
			#fider-logo span {
				display: block;
				left: 50px;
			}
			#owner-logo span {
				display: none;
			}
			footer {
				position: relative;
				height: 8px;
				background-color: white;
				border-top: 1px solid gray;
				width: 100%;
				text-align: center;
				font-size: 11px;
				padding-top: 2px;
				bottom: 8px;
			}
			.nav_btn {
				font-family: "WebSymbolsRegular";
				display: block;
				width: 40px;
				height: 40px;
				float: left;
				background-repeat: no-repeat;
				text-align: center;
				vertical-align: middle;
				font-size: x-large;
				cursor: default;
			}
			
			.content .tools_list{
				
			}
			.nav_btn span {
				position: relative;
				top: 5px;
				cursor: default;
				text-shadow:1px 1px 3px black;
			}
			.nav_btn.selected {
				background-color: #fc8;
			}
			.nav_btn.hover {
				background-color: #fa4;
			}
			.nav_btn.selected.hover {
				background-color: #fa4;
			}
			.panel .subpanel {
				width: 330px;
				left: 10px;
				top: 10px;
				text-align: justify;
				position: relative;
				overflow:auto;
			}
			.panel {
				position: absolute;
				left: 40px;
				top: 50px;
				width: 350px;
				display: block;
				z-index: 1000;
				background-color: #FFC887;
			}
			.title {
				height: 40px;
				display: block;
				font-size: 14px;
				padding-left: 4px;
			}
			.title span {
				padding-bottom: 24px;
				display: inline-block;
				vertical-align: middle;
			}
			.subpanel {
				padding-top: 5px;
				padding-bottom: 5px;
				margin-bottom: 10px;
				background-color: white;
			}
			.subpanel .content {
				padding-left: 6px;
				border-left: 1px solid gray;
				margin-left: 18px;
				margin-top: -9px;
			}
			button {
				width: 160px;
				margin-left: 10px;
				margin-top: 8px;
				float: left;
			}
			.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint {
				display: none;
			}
			.olLayerGoogleCopyright.olLayerGoogleV3 {
				display: none;
			}
			#owner-logo {
				background-image: url(../../fstatic/lepida_logo_white.png);
			}
			.small_in{
				width:20%;
			}
			
			select{
				display:block;
				width:100%;
				height:200px;
			}
			input[type="checkbox"]{
				display:none;
			}
			.tools_list{
				width:95%;
				margin-left:auto;
				margin-right:auto;
				height:30px;
				background-color:#eee;
				margin-bottom:5px;
			}
			.btn{
				width:28px;
				height:28px;
				display:inline-block;
				background-color:#ddd;
				margin-top:1px;
				font-family: "WebSymbolsRegular";
				background-repeat: no-repeat;
				text-align: center;
				vertical-align: middle;
				font-size: large;
				cursor: default;
				text-shadow:0px 0px 3px black;
				
			}
			.btn:hover{
				background-color:#ccc;
				
			}
			
			#sett_panel .content{
				padding-top:10px;
				padding-bottom:10px;
			}
			
			.aproxy, .uproxy{
				border-bottom:1px solid #f80;
			}
			.p_name{
				font-weight:bold;
			}
			.fake_link{
				cursor:hand;
				
			}
			.fake_link:hover{
				cursor:hand;
				
			}
		</style>
		<script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/OpenLayers.js"></script>
		
		<script src="/fstatic/js/jquery.min.js"></script>
		<script src="/fstatic/js/linq.min.js"></script>
		<script src="/fstatic/js/jquery.linq.min.js"></script>
		<script src="/fstatic/js/ICanHaz.min.js"></script>
		<script src="https://raw.github.com/flowersinthesand/jquery-stringifyJSON/master/jquery.stringifyjson.js"></script>
		<script src="https://raw.github.com/marcosesperon/Messi/master/messi.min.js"></script>
		<script src="/fstatic/js/jquery-ui-1.8.23.custom.min.js"></script>
		<link rel="stylesheet" href="http://dev.openlayers.org/releases/OpenLayers-2.11/theme/default/style.css" type="text/css">
		<link rel="stylesheet" href="http://dev.openlayers.org/releases/OpenLayers-2.11/theme/default/google.css" type="text/css">
  		<link rel="stylesheet" href="https://raw.github.com/marcosesperon/Messi/master/messi.min.css" />
  		<link rel="stylesheet" href="/fstatic/css/custom-theme/jquery-ui-1.8.23.custom.css" />



		<script id="amodel" type="text/html">
			<div class="model">
				<div class="model_header">
					{% templatetag openvariable %}name{% templatetag closevariable %}</div>
				<table class="model_content">
					{% templatetag openvariable %}#attribs{% templatetag closevariable %}
					<tr>
						<td>{% templatetag openvariable %}name{% templatetag closevariable %}</td>
						<td>{% templatetag openvariable %}type{% templatetag closevariable %}</td>
					</tr>
					{% templatetag openvariable %}/attribs{% templatetag closevariable %}
				</table>
			</div>
		</script>
		<script id="aproxy" type="text/html">
			<div class="aproxy">
				<span class="p_name" >{% templatetag openvariable %}name{% templatetag closevariable %}</span>
				{% templatetag openvariable %}#data{% templatetag closevariable %}
					<table style="width:100%;" data-token="{% templatetag openvariable %}token{% templatetag closevariable %}">
					{% templatetag openvariable %}#meta{% templatetag closevariable %}
						<tr>
							<td width="33%">{% templatetag openvariable %}name{% templatetag closevariable %}</td>
							<td width="33%">{% templatetag openvariable %}id{% templatetag closevariable %}</td>
							<td width="33%">
								{% templatetag openvariable %}#active{% templatetag closevariable %}
								<span class="fake_link ref_proxy" data-toggle_url="/broker/toggle/{% templatetag openvariable %}id{% templatetag closevariable %}">DISATTIVA</span>
								{% templatetag openvariable %}/active{% templatetag closevariable %}
								{% templatetag openvariable %}^active{% templatetag closevariable %}
								<span class="fake_link ref_proxy" data-toggle_url="/broker/toggle/{% templatetag openvariable %}id{% templatetag closevariable %}">ATTIVA</span>
								{% templatetag openvariable %}/active{% templatetag closevariable %}
							</td>
						</tr>
					{% templatetag openvariable %}/meta{% templatetag closevariable %}
					</table>
				{% templatetag openvariable %}/data{% templatetag closevariable %}
			</div>
		</script>
		<script id="uproxy" type="text/html">
			<div class="uproxy">
				<span class="p_name" >{% templatetag openvariable %}name{% templatetag closevariable %}</span>
				{% templatetag openvariable %}#data{% templatetag closevariable %}
					<table style="width:100%;" data-token="{% templatetag openvariable %}token{% templatetag closevariable %}">
					{% templatetag openvariable %}#meta{% templatetag closevariable %}
						<tr>
							<td>{% templatetag openvariable %}name{% templatetag closevariable %}</td>
						</tr>
					{% templatetag openvariable %}/meta{% templatetag closevariable %}
					</table>
				{% templatetag openvariable %}/data{% templatetag closevariable %}
			</div>
		</script>



		<script id="range" type="text/html">
			<div class="line">
				<input class="use_in_query" data-field="{% templatetag openvariable %}name{% templatetag closevariable %}" type="checkbox"></input>
				{% templatetag openvariable %}name{% templatetag closevariable %}:
				<span class="q_el" >
					<label class="label" data-column="{% templatetag openvariable %}name{% templatetag closevariable %}" data-operator="gt">Min:</label>
					<input class="query_element small_in params" type="text"></input>
				</span>
				<span class="q_el" >
					<label class="label" data-column="{% templatetag openvariable %}name{% templatetag closevariable %}" data-operator="lt">Max:</label>
					<input class="query_element small_in params" type="text"></input> 
				</span>
			</div>
		</script>
		<script id="multi" type="text/html">
			<div class="line">
				<input class="use_in_query" data-field="{% templatetag openvariable %}name{% templatetag closevariable %}" type="checkbox"></input>
				<label class="q_el label" data-column="{% templatetag openvariable %}name{% templatetag closevariable %}" data-operator="in" for="search_col_{% templatetag openvariable %}name{% templatetag closevariable %}">{% templatetag openvariable %}name{% templatetag closevariable %}:</label>
				<select class="query_element params" name="search_col_{% templatetag openvariable %}name{% templatetag closevariable %}" multiple="true">
					{% templatetag openvariable %}#type{% templatetag closevariable %}
					<option value="{% templatetag openvariable %}.{% templatetag closevariable %}">{% templatetag openvariable %}.{% templatetag closevariable %}</option>
					{% templatetag openvariable %}/type{% templatetag closevariable %}
				</select>
			</div>
		</script>
		<script id="attribs" type="text/html">
			<ul class="attribs_element" id="__{% templatetag openvariable %}id{% templatetag closevariable %}">
			{% templatetag openvariable %}#attributes{% templatetag closevariable %}
    			<li>{% templatetag openvariable %}key{% templatetag closevariable %} - {% templatetag openvariable %}value{% templatetag closevariable %}</li>
    		{% templatetag openvariable %}/attributes{% templatetag closevariable %}
    		</ul>
		</script>

		<script>
			FIdER = {};
			OpenLayers.ImgPath = "https://github.com/sirmmo/openlayers_themes/raw/master/dark/";

			//refresh function for resize and startup
			FIdER.refresh = function() {
				var width = $(window).width() - $('nav').width();
				var height = $(window).height() - $('header').height() - $('footer').height() - 10;
				$('#map').width(width);
				$('nav').height(height);
				$('#map').height(height);
				$('.panel').height(height);
				$('footer').css('top', $(window).height() - $('header').height() - 10 - $('footer').height());
				$('.subpanel').css('max-height', $(window).height()-$('footer').height()-1-$('header').height()-40);
			};
			//projections
			FIdER.projections = {};
			FIdER.projections.google = new OpenLayers.Projection("EPSG:900913");
			FIdER.projections.wgs84 = new OpenLayers.Projection("EPSG:4326");
			FIdER.projections.ed50 = new OpenLayers.Projection("EPSG:900913");

			//starting point
			FIdER.start = new OpenLayers.Bounds();
			FIdER.start.extend(new OpenLayers.LonLat(9.1980988, 43.73086379999999).transform(FIdER.projections.wgs84, FIdER.projections.google));
			FIdER.start.extend(new OpenLayers.LonLat(12.7558364, 45.1395245).transform(FIdER.projections.wgs84, FIdER.projections.google));

					FIdER.ccstyle = new OpenLayers.StyleMap();
			$.get('/sld/default', function(sld){
					sld_reader = new OpenLayers.Format.SLD();
					FIdER.sld = sld_reader.read(sld);
					FIdER.ccstyle.styles['default']=FIdER.sld.namedLayers.elements.userStyles[0]
					
			});
			$.get('/sld/selected', function(sld){
					sld_reader = new OpenLayers.Format.SLD();
					FIdER.sld = sld_reader.read(sld);
					FIdER.ccstyle.styles['select']=FIdER.sld.namedLayers.selected_elements.userStyles[0]
					
			});
			FIdER.bbstyle = new OpenLayers.StyleMap({
				'default':{
					'fillColor':"Orange",
					'strokeColor':"Orange",
					'fillOpacity':0.1,
					'strokeWidth':"1",
					'pointRadius':'6'
					
				}
			});
			
			FIdER.status = {};
			
			FIdER.vector_layer = new OpenLayers.Layer.Vector("elements",{
				styleMap: FIdER.ccstyle
			});
			
			FIdER.bbox_layer = new OpenLayers.Layer.Vector("bboxes",{
				styleMap: FIdER.bbstyle
			});
			
			
			FIdER.hide_panels = function(){
					$('.nav_btn').removeClass('selected');
					$('.panel').hide();
			};
			
			
			FIdER.vector_layer.events.on({
                'featureselected': show_features,
                'featureunselected': show_features
            });
            
            FIdER.block_selections = false;
            function show_features(feature){
            	if (!FIdER.block_selections){
            		setTimeout(do_show_features,500);
            		FIdER.block_selections = true;
            	}
            }
            
            function intersect_safe(a, b)
			{
			  var ai=0, bi=0;
			  var result = new Array();
			
			  while( ai < a.length && bi < b.length )
			  {
			     if      (a[ai] < b[bi] ){ ai++; }
			     else if (a[ai] > b[bi] ){ bi++; }
			     else /* they're equal */
			     {
			       result.push(a[ai]);
			       ai++;
			       bi++;
			     }
			  }
			
			  return result;
			}
            
            function do_show_features(){
            		FIdER.block_selections = false;
            		pa = [];
                	if (FIdER.vector_layer.selectedFeatures.length == 1){
	                	for (var e in FIdER.vector_layer.selectedFeatures[0].attributes)
	                		pa.push({'key':e, 'value':FIdER.vector_layer.selectedFeatures[0].attributes[e]});
	                		
	                	pa.push({'key':'Lunghezza', "value":FIdER.vector_layer.selectedFeatures[0].geometry.getLength()})
	                	xxte =  {"attributes":pa, "id":FIdER.vector_layer.selectedFeatures[0].id.replace(/\./g,'_')};
	                    $('#properties_panel .subpanel .content').empty();
	                    $('#properties_panel .subpanel .content').append(ich.attribs(xxte));
	                    $('#properties_panel .subpanel .content').show();
	                }else if(FIdER.vector_layer.selectedFeatures.length > 1 ){
	                	
	                	total_length = Enumerable.From(FIdER.vector_layer.selectedFeatures).Where("$.geometry.bounds.bottom != $.geometry.bounds.top").Sum("$.geometry.getLength()");
	                	distinct_line_count = Enumerable.From(FIdER.vector_layer.selectedFeatures).Where("$.geometry.bounds.bottom != $.geometry.bounds.top").Count();
	                	distinct_point_count = Enumerable.From(FIdER.vector_layer.selectedFeatures).Where("$.geometry.bounds.bottom == $.geometry.bounds.top").Count();
	                	distinct_owners = Enumerable.From(FIdER.vector_layer.selectedFeatures).Distinct("$.attributes.Proprietario").Select("$.attributes.Proprietario").ToString(",");
	                	distinct_data = Enumerable.From(FIdER.vector_layer.selectedFeatures).Distinct("$.attributes.Fornitore").Select("$.attributes.Fornitore").ToString(",");
	                	distinct_infra = Enumerable.From(FIdER.vector_layer.selectedFeatures).Distinct("$.attributes.Tipo").Select("$.attributes.Tipo").ToString(",");
	                	xxte = {
	                		'attributes':[
	                			{
	                				'key':'Lunghezza totale tratte',
	                				'value':total_length+"m"
	                			},
	                			{
	                				'key':'Numero Tratte Distinte',
	                				'value':distinct_line_count,
	                			},
	                			{
	                				'key':'Numero Pozzetti Distinti',
	                				'value':distinct_point_count,
	                			},
	                			{
	                				'key':'Proprietari',
	                				'value':distinct_owners,
	                			},
	                			{
	                				'key':'Fornitori',
	                				'value':distinct_data,
	                			},
	                			{
	                				'key':'Infrastrutture',
	                				'value':distinct_infra,
	                			}
	                		]
	                	};
	                	
	                	$('#bi_panel .subpanel .content').empty();
	                    $('#bi_panel .subpanel .content').append(ich.attribs(xxte));
	                    $('#bi_panel .subpanel .content').show();
	                }
            }
			
			//FIdER.features = new OpenLayers.

			//global events
			$(window).resize(FIdER.refresh);		

			//ux events
			
			$('.ref_proxy').live('click', function(){
				d = $(this).data('toggle_url');
				$.get(d, function(data){
					$.getJSON('/broker/getproxies', function(pdata){
					
					$('#admin_proxies').empty();
					$('#user_proxies').empty();
					for (owner in pdata){
						
						$('#admin_proxies').append(ich.aproxy(pdata[owner]));
						$('#user_proxies').append(ich.uproxy(pdata[owner]));
					
					}
				});
				});
			});
			
			$('.nav_btn').live('mouseover', function() {
				$(this).addClass('hover');
			});
			$('.nav_btn').live('mouseout', function() {
				$(this).removeClass('hover');
			});

			$('.nav_btn:not("#home_btn")' ).live('click', function() {
				if ($(this).hasClass('selected')) {
					$('.nav_btn').removeClass('selected');
					$('.panel').hide();
					
				FIdER.select_one_control.unselectAll();
				FIdER.select_one_control.deactivate();
				FIdER.slect_multi_control.unselectAll();
				FIdER.select_multi_control.deactivate();
				$('#bi_panel .subpanel .content').empty();
				$('#properties_panel .subpanel .content').empty();
				} else {
					$('.nav_btn').removeClass('selected');
					$(this).addClass('selected');
					$('.panel').hide();
					$('.panel.' + $(this).attr('id')).show();
				}
				
				FIdER.select_multi_control.deactivate();
				FIdER.select_one_control.deactivate();
			});
			$('#search_panel .subpanel .title').live('click', function() {
				$('#search_panel .subpanel .content').hide();
				$('#search_panel .subpanel').removeClass('is_s_selected');
				$(this).next().show();
				$(this).parent().addClass('is_s_selected');
			});

			$('do_clear_btn').live('click', function() {
				$('#search_panel .subpanel .content').hide();

			});
			
			$('.query_element').live('change', function(){
				$(this).parent().find('.use_in_query').attr('checked', true);
			});
			
			$('#do_clear_btn').live('click', function(){
			});
			
			$('#home_btn').live('click', function(){
					FIdER.map.zoomToExtent(FIdER.start);
			});
			
			$('#refresh_remotes').live('click', function(){
				$('<div>Desideri forzare il refresh dei proxy?</div>').dialog({
					title:"Forzare il refresh dei proxy",
						modal:true,
					buttons:{
						'OK':function(){
							$.get('/broker/pull', function(ddd){
								console.log(ddd);
								$( this ).dialog( "destroy" );
							});
						},
						'Annulla':function(){
							$( this ).dialog( "destroy" );
						}
					}
				});	
			});
			$('#refresh_local').live('click', function(){
				$('<div>Desideri scaricare i dati dai proxy?</div>').dialog({
					title:"Scaricamento dati dai proxy",
						modal:true,
					buttons:{
						'OK':function(){
							$.get('/broker/get', function(ddd){
								console.log(ddd);
								$( this ).dialog( "destroy" );
							});
						},
						'Annulla':function(){
							$( this ).dialog( "destroy" );
						}
					}
				});	
			});
			$('#clear_db').live('click', function(){
					$('<div>Desideri cancellare il contenuto del database?</div>').dialog({
						title:"Cancellazione del DataBase",
						modal:true,
						buttons:{
							'OK':function(){
								$.get('/broker/clear', function(ddd){
									console.log(ddd);
									$( this ).dialog( "destroy" );
								});
							},
							'Annulla':function(){
								$( this ).dialog( "destroy" );
							}
						}
					});	
			});
			
			$('#add_infrastructure').live('click', function(){
					$('<div>Nome Infrastruttura: <input id="create_infra" type="text"></div>').dialog({
						title:"Aggiungi Infrastruttura",
						buttons:{
							'OK':function(){
								$.get('/data', function(ddd){
									console.log(ddd);
									$( this ).dialog( "destroy" );
								});
							},
							'Annulla':function(){
								$( this ).dialog( "destroy" );
							}
						}
					});	
			});
			
			$('#properties_btn').live('click', function(){
					FIdER.select_one_control.activate();
					FIdER.select_multi_control.deactivate();
			});
			$('#bi_btn').live('click', function(){
					FIdER.select_one_control.deactivate();
					FIdER.select_multi_control.activate();
			});
			$('#clear_selection').live('click', function(){
				
				FIdER.select_one_control.unselectAll();
				FIdER.select_one_control.deactivate();
				FIdER.slect_multi_control.unselectAll();
				FIdER.select_multi_control.deactivate();
				$('#bi_panel .subpanel .content').empty();
				$('#properties_panel .subpanel .content').empty();
			});
			move_to_geo = function(){
					$.getJSON('/external/maps.googleapis.com/maps/api/geocode/json?sensor=false&address=' + $('#search_geo_address').val(), function(gqdata){
							console.log(gqdata);
							if(gqdata.status == "OK"){
								if (gqdata.results.length == 1){
									
									gq = new OpenLayers.Bounds();
									gq.extend(new OpenLayers.LonLat(gqdata.results[0].geometry.viewport.southwest.lng, gqdata.results[0].geometry.viewport.southwest.lat).transform(FIdER.projections.wgs84, FIdER.projections.google));
									gq.extend(new OpenLayers.LonLat(gqdata.results[0].geometry.viewport.northeast.lng, gqdata.results[0].geometry.viewport.northeast.lat).transform(FIdER.projections.wgs84, FIdER.projections.google));
									FIdER.map.zoomToExtent(gq);

								}
								else{
									console.log(gqdata.results);
								}
							}
						});
				}
			
			FIdER.status.done_inner_query = true;
			FIdER.status.done_outer_query = true;
			
			FIdER.selectables = [];
			
			FIdER.check_spinner= function(){
				if (FIdER.status.done_inner_query && FIdER.status.done_outer_query){
					
					$('#spinner').hide();
					for (el in FIdER.status.query){
						el_sel = []
						tt = FIdER.status.query[el]['column']
						ps = FIdER.status.query[el]['params']
						for(pp in ps){
							lsit = ps[pp]
							if (lsit!= "Tutti" && lsit !="Nessuno" && lsit!= "Non definito"){
								vec = FIdER.vector_layer.getFeaturesByAttribute(tt, lsit )
								for(feat in vec){
									el_sel.push(vec[feat]);
								}
							}
						}
						FIdER.selectables.push(el_sel);
					}
					if (FIdER.selectables.length > 1){
						ee = FIdER.selectables[0]
						for (a = 0; a < FIdER.selectables.length-1; a++){
							ee = intersect_safe(ee,FIdER.selectables[a+1])					
						}
						FIdER.selectables = ee
					}
					
					for (a in FIdER.selectables){
						FIdER.select_multi_control.select(FIdER.selectables[a])
					}
				}
				else 
				$('#spinner').show();
			}
			
			//run
			$(function() {
				
		

				$('.panel .content').hide();
				$('#sett_panel .content').show();
				$('#vis_panel .content').show();
				
				FIdER.check_spinner();

				FIdER.refresh();
				$('.panel').hide();
				
				

				$.getJSON('/interface/urls', function(data) {
					$.urls = data;

					FIdER.map = new OpenLayers.Map("map", {
						sphericalMercator : true,
						projection : "EPSG:900913",
						controls : []
					});
					
					FIdER.map.events.register('moveend', FIdER.map, function(){
						$('.panel').hide();
						$('.selected').removeClass('selected');
						FIdER.vector_layer.styleMap.styles.default = FIdER.ccstyle.styles.default;
						FIdER.vector_layer.styleMap.styles.select = FIdER.ccstyle.styles.select;
						FIdER.vector_layer.redraw();
						if (FIdER.map.getZoom() >= 15){
							FIdER.vector_layer.display(true);
							FIdER.bbox_layer.display(false);
							FIdER.status.active_layer =FIdER.vector_layer; 
							FIdER.status.url = "search";
						}
						else{
							FIdER.vector_layer.display(false);
							FIdER.bbox_layer.display(true);
							FIdER.status.active_layer =FIdER.bbox_layer; 
							FIdER.status.url = "proxies";
							
						}
						$('#spinner').show();
						FIdER.bbox_layer.destroyFeatures();
						FIdER.vector_layer.destroyFeatures();
						$.ajax({
							url:'/interface/'+FIdER.status.url,
							dataType:"jsonp",
							data:{
								bb:"["+FIdER.map.getExtent().transform(FIdER.projections.google, FIdER.projections.wgs84).toBBOX()+"]",
								cbd:"show_data",
								cbq:"get_queries",
								q:"[]"
							}
						});
						
						
					});

					FIdER.map.setOptions({restrictedExtent: FIdER.start});

					//Base Maps
					FIdER.map.addLayer(new OpenLayers.Layer.Google("Google Satellite", {
						type : google.maps.MapTypeId.SATELLITE,
						numZoomLevels : 22
					}));
					FIdER.map.addLayer(new OpenLayers.Layer.Google("Google Physical", {
						type : google.maps.MapTypeId.TERRAIN,
						visibility : false
					}));
					FIdER.map.addLayer(new OpenLayers.Layer.Google("Google Streets", {
						numZoomLevels : 20,
						visibility : false
					}));
					FIdER.map.addLayer(new OpenLayers.Layer.Google("Google Hybrid", {
						type : google.maps.MapTypeId.HYBRID,
						numZoomLevels : 22,
						visibility : false
					}));
					FIdER.map.addLayer(new OpenLayers.Layer.OSM("OpenStreetMap"));

					FIdER.map.addLayer(FIdER.vector_layer);
					FIdER.map.addLayer(FIdER.bbox_layer);

					FIdER.select_multi_control = new OpenLayers.Control.SelectFeature(FIdER.vector_layer, {
                        clickout: false, toggle: false,
                        multiple: true, hover: false,
                        toggleKey: "ctrlKey", // ctrl key removes from selection
                        multipleKey: "shiftKey", // shift key adds to selection
                        box: true
                    });
                    
                    FIdER.select_one_control = new OpenLayers.Control.SelectFeature(FIdER.vector_layer, {
                        clickout: true, toggle: true,
                        multiple: false, hover: false,
                        toggleKey: "ctrlKey", // ctrl key removes from selection
                        multipleKey: "shiftKey", // shift key adds to selection
                        box: false
                    });
                    FIdER.selected_control_new = null;
                    FIdER.selected_control_type = null;
                    FIdER.selected_control = null;
                    
                  
					//Controls
					FIdER.map.addControl(new OpenLayers.Control.PanZoomBar());
					FIdER.map.addControl(new OpenLayers.Control.Navigation());
					FIdER.map.addControl(new OpenLayers.Control.LayerSwitcher());
					FIdER.map.addControl(new OpenLayers.Control.KeyboardDefaults());
					FIdER.map.addControl(new OpenLayers.Control.TouchNavigation());
					FIdER.map.addControl(FIdER.select_one_control);
					FIdER.map.addControl(FIdER.select_multi_control);
					
					FIdER.map.zoomToExtent(FIdER.start);
					
					//prepare_gui
					$.getJSON($.urls.get_model + "?models=Duct", function(mdata) {

						model = [];

						for (var i in mdata) {
							table = {};

							table.name = mdata[i].name;
							table.cols = []
							stuff = mdata[i].properties;
							for (var col in stuff) {
								if (stuff[col] != "str")
									if (stuff[col] != "int") {
									col_obj = {}
									col_obj.name = col;
									col_obj.type = ["Tutti", 'Nessuno', "Non definito"].concat(stuff[col]);
									table.cols.push(col_obj);
								}
								//else{
								//	col_obj = {}
								//	col_obj.name = col;
								//	col_obj.type = stuff[col];
								//	table.cols.push(col_obj);
								//}
							}
							model.push(table);

						}
						
						for (var el in model){
							e = model[el];
							for (var ul in e.cols){
								c = e.cols[ul];
								if (c.type == "int")
									$('#inventory_q').append(ich.range(c));
								else
									$('#inventory_q').append(ich.multi(c))
							}
						}
						
						FIdER.status.query = $.stringifyJSON(prepare_query());
					});
					
					

				});
				
				
				$('#search_geo_address').keypress(function(e){
					code= (e.keyCode ? e.keyCode : e.which);
					if (code == 13) 
						move_to_geo();
				});
				
				$('#do_search_btn').click(function(){
					if($('.is_s_selected').data('type') == "geo"){
						move_to_geo();
					}
					else{
						FIdER.status.query = prepare_query();
					}
				});
				
				$.getJSON('/broker/getproxies', function(pdata){
					for (owner in pdata){
						$('#admin_proxies').append(ich.aproxy(pdata[owner]));
						$('#user_proxies').append(ich.uproxy(pdata[owner]));
					}
				});
				
				$.getJSON('/models/getmodels', function(mdata){
					for (model in mdata){
						$('#admin_models').append(ich.amodel(mdata[model]));
					}
				});
				
				FIdER.vector_layer.redraw();
			});
			
			function prepare_query(){
				prepared_query = [];
						
						$('.line').find('.use_in_query:checked').parent().each(function(a,b){
							$(b).find('.q_el').each(function(c,d){
								qqq = {};
								
								if($(d).find('.label').length == 0){
									qqq['column'] = $(d).data('column');
									qqq['operator'] = $(d).data('operator');
									qqq['params'] = $(d).parent().find('.params').val();
								}
								else {
									qqq['column'] = $(d).find('.label').data('column');
									qqq['operator'] = $(d).find('.label').data('operator');
									qqq['params'] = $(d).parent().find('.params').val();
								}
								prepared_query.push(qqq);
							});
						});
						return prepared_query;
			}
			
			FIdER.geojson_format = new OpenLayers.Format.GeoJSON({'externalProjection':FIdER.projections.wgs84, 'internalProjection':FIdER.projections.google});
			
			function show_data(datas){
		 		FIdER.status.active_layer.addFeatures(FIdER.geojson_format.read($.stringifyJSON(datas)));	
				FIdER.status.done_inner_query = true;
		 		FIdER.check_spinner();
			}
			
			function get_queries(datas){
				$.ajax({
					url:'/interface/s',
					dataType:"json",
					data:{'q':$.stringifyJSON(datas)},
					success:function(layer){
						if(layer.properties.errors.length > 0)
							alert(layer.properties.errors);
						else{
							//var geojson_format = new OpenLayers.Format.GeoJSON({'externalProjection':FIdER.projections.wgs84, 'internalProjection':FIdER.projections.google});
						    FIdER.vector_layer.addFeatures(FIdER.geojson_format.read($.stringifyJSON(layer)));		
							FIdER.status.done_outer_query = true;
							FIdER.check_spinner();		
    					}
					}
				});
			}

		</script>
	</head>
	<body>
		<header>
			<div id="fider-logo" class="logo left">
				<span> PipER </span>
			</div>
				<img id="spinner" src="/fstatic/301.gif">
			<div id="owner-logo" class="logo right">
				<span> Lepida S.p.A. </span>
			</div>
		</header>
		<nav>
			<div class="nav_btn" id="home_btn">
				<span>h</span>
			</div>
			<div class="nav_btn" id="search_btn">
				<span>L</span>
			</div>
			<div class="nav_btn" id="properties_btn">
				<span>,</span>
			</div>
			<div class="nav_btn" id="bi_btn">
				<span>u</span>
			</div>
			<div class="nav_btn" id="info_btn">
				<span>C</span>
			</div>
			<div class="nav_btn" id="settings_btn">
				<span>S</span>
			</div>
		</nav>
		<div id="map"> </div>
		<div id="search_panel" class="panel search_btn">
			<div class="subpanel" data-type="geo">
				<div class="title" >
					<img src="http://cdn5.iconfinder.com/data/icons/duesseldorf/32/world.png">
					<span>Geografica</span>
				</div>
				<div class="content">
					<label for="search_geo_address">Luogo:</label>
					<input type="text" id="search_geo_address" />
				</div>
			</div>
			<div class="subpanel" data-type="inventory">
				<div class="title">
					<img src="http://www.freeiconsweb.com/Icons-show/cc_mono_icon_set_png/box.png">
					<span>Inventario</span>
				</div>
				<div class="content" id="inventory_q">
			
				
				</div>
			</div>
			<button id="do_search_btn">
				Imposta
			</button>
			<button id="do_clear_btn">
				Annulla
			</button>
		</div>
		<div id="properties_panel" class="panel properties_btn">
			<div class="subpanel">
				<div class="title">
					<span>Propriet&agrave;</span>
				</div>
				<div class="content">
					
				
				</div>
			</div>
		</div>
		<div id="bi_panel" class="panel bi_btn">
			<div class="subpanel">
				<div class="title">
					<span>Business Intelligence</span>
				</div>
					<div class="tools_list">
						<span class="btn" id="clear_selection" title="Annulla Selezione">'</span>		
					</div>
				<div class="content">
					
				
				</div>
			</div>
		</div>
		<div id="vis_panel" class="panel info_btn">
			<div class="subpanel">
				<div class="title">
					<span>Proxy</span>
				</div>
				<div class="content">
					<div id="user_proxies">
					</div>
				</div>
			</div>
		</div>
		<div id="sett_panel" class="panel settings_btn">
			<div class="subpanel">
				<div class="title">
					<span>Impostazioni</span>
				</div>
					<div class="tools_list">
						<span class="btn" id="add_infrastructure" title="Aggiungi Infrastruttura">+</span>		
					</div>
				<div class="content">
					<a id="fwp_link" href="">Vai alla Piattaforma di Gesione dei Proxy</a>
				</div>
				<div class="title">
					<span>Strumenti - Proxy</span>
				</div>
					<div class="tools_list">
						<span class="btn" id="refresh_remotes" title="Forza Refresh Proxy">V</span>
						<span class="btn" id="refresh_local" title="Forza Refresh Dati">V</span>
						<span class="btn" id="clear_db" title="Svuota Database">'</span>					
					</div>
				<div class="content" id="admin_proxies">
					
				</div>
				<div class="title">
					<span>Strumenti - Modelli</span>
				</div>
					<div class="tools_list">
						<span class="btn" id="add_model">+</span>		
					</div>
				<div class="content" id="admin_models">
					
				</div>
			</div>
		</div>
		<footer>
			<a href="#">PipER</a> - <a href="https://www.labs.it/">Laboratori Guglielmo Marconi S.p.A.</a> &amp; <a href="http://www.italtel.com">Italtel S.p.A.</a> per <a href="http://www.lepida.it">Lepida S.p.A.</a>
		</footer>
	</body>
</html>
